.HomeScreen {
}

.canvas {
  position: relative;
  border: 1px solid red;
}

.canvas canvas {
  width: 100%;
  height: 100%;
}

.listItem {
  padding: 8px;
  user-select: none;
}

.listItem--selected {
  background: #F6B528;
}

.selection {
  position: absolute;
  box-shadow: 0 0 0 3px #F6B528;
}
